@import "./tokyonight.css";

* {
  border: none;
  border-radius: 6;
  font-family: JetBrains Mono, sans-serif;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background-color: transparent;
}

tooltip {
  background: @tt_background;
  border: 2px solid @tt_border;
}

tooltip label {
  color: @tt_text;
}

#custom-power, #clock, #workspaces,
#pulseaudio, #network, #backlight,
#custom-kbd_backlight, #tray, #battery, #window {
  padding: 2px 10px;
  background: @background;
  border: 2px solid @border;
  color: @text;
}

/* CLOCK */
#clock {
  font-weight: 900;
}

/* WORKSPACES */
#workspaces button {
  color: @unselected;
  padding: 0 6px;
}
#workspaces button.active {
  color: @selected;
}

/* CURRENT WINDOW */
#window {
}
window#waybar.empty #window {
  background: transparent;
  border: 0px;
}

/* AUDIO */
/* FIGURE OUT HOW TO COLOR SPEAKER/MIC ICON SEPERATLY */
#pulseaudio {
  color: @audio;
}
#pulseaudio.muted { /*AUDIO*/
  color: @error;
}
#pulseaudio.source-muted { /*MIC*/
  border: 2px solid @error;
}

/* NETWORK */
#network {
  color: @network;
}
#network.disabled, #network.disconnected {
  color: @error;
}

/* BACKLIGHT */
#backlight {
  color: @backlight;
}
#custom-kbd_backlight.on {
  color: @backlight;
}

/* BATTERY */
@keyframes blink {
  to {
    background-color: @battery_warning;
  }
}
#battery {
  color: @battery;
}
#battery.warning:not(.charging) {
  color: @error;
}
#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
