@import "./tokyonight.css";

*{
  border: none;
  border-radius: 6;
  font-family: JetBrains Mono, sans-serif;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background-color: transparent;
}

tooltip {
  background: @tt_background;
  border: 2px solid @tt_border;
}

tooltip label {
  color: @tt_text;
}

menu {
	border-radius: 15px;
	background: @background;
	color: @text;
}

menuitem {
	border-radius: 15px;
}


#custom-power, #workspaces, #pulseaudio, #network,
#custom-backlight, #tray, #battery, 
#window, #bluetooth, #clock, #power-profiles-daemon {
  padding: 2px 10px;
  border: 2px solid @border;
  color: @text;
  background: @background;
}


/* WORKSPACES */
#workspaces button {
  color: @unselected;
  padding: 0 6px;
}
#workspaces button.active {
  color: @selected;
}

/* POWER PROFILE */
#power-profiles-daemon.power-saver {
  color: @power_saver;
}
#power-profiles-daemon.balanced {
  color: @balanced;
}
#power-profiles-daemon.performance {
  color: @performance;
}

/* CURRENT WINDOW */
#window {
}
window#waybar.empty #window {
  background: transparent;
  border: 0px;
}

/* AUDIO */
/* FIGURE OUT HOW TO COLOR SPEAKER/MIC ICON SEPERATLY */
#pulseaudio {
  color: @audio;
}
#pulseaudio.muted {
  color: @error;
  border: 2px solid @error;
}
#pulseaudio.source-muted {
  color: @error;
  border: 2px solid @error;
}

/* NETWORK */
#network {
  color: @network;
}
#network.disabled, #network.disconnected {
  color: @error;
}

/* BACKLIGHT */
#custom-backlight {
  color: @backlight;
}

/* BATTERY */
@keyframes blink {
  to {
    background-color: @battery_warning;
  }
}
#battery {
  color: @battery;
}
#battery.warning:not(.charging) {
  color: @error;
}
#battery.critical:not(.charging) {
  color: @error;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* CLOCK */
#clock {
  font-weight: 900;
}
